data/wsdl/BillingDataManagementService4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POSGateway.Wrapper"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/POSGateway.Wrapper">
    <xs:complexType name="AESCardData">
        <xs:sequence>
            <xs:element minOccurs="0" name="CardHolderData" nillable="true" type="tns:CardHolderData"/>
            <xs:element minOccurs="0" name="EncryptedTrackData" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int"/>
            <xs:element minOccurs="0" name="ExpirationYear" type="xs:int"/>
            <xs:element minOccurs="0" name="KeySerialNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ObfuscatedCardNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AESCardData" nillable="true" type="tns:AESCardData"/>
    <xs:complexType name="CardHolderData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="State" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CardHolderData" nillable="true" type="tns:CardHolderData"/>
    <xs:complexType name="ClearTextCardData">
        <xs:sequence>
            <xs:element minOccurs="0" name="CardHolderData" nillable="true" type="tns:CardHolderData"/>
            <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int"/>
            <xs:element minOccurs="0" name="ExpirationYear" type="xs:int"/>
            <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ClearTextCardData" nillable="true" type="tns:ClearTextCardData"/>
    <xs:complexType name="E3CardData">
        <xs:sequence>
            <xs:element minOccurs="0" name="CardHolderData" nillable="true" type="tns:CardHolderData"/>
            <xs:element minOccurs="0" name="EncryptedPanData" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="EncryptedTrackData" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int"/>
            <xs:element minOccurs="0" name="ExpirationYear" type="xs:int"/>
            <xs:element minOccurs="0" name="KeyTransmissionBlock" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ObfuscatedCardNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="E3CardData" nillable="true" type="tns:E3CardData"/>
    <xs:complexType name="E3DebitCardWithPINData">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:E3CardData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="KeySerialNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PINBlock" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="E3DebitCardWithPINData" nillable="true" type="tns:E3DebitCardWithPINData"/>
</xs:schema>
